qrcade.xyz {
	encode gzip

	handle_path /api/* {
		reverse_proxy localhost:5000
	}

	handle {
		root * /svr/frontend
		try_files {path} /index.html
		file_server
	}
}

www.qrcade.xyz {
	redir https://qrcade.xyz{uri} permanent
}