qrcade.xyz {
	handle_path /api/* {
		reverse_proxy backend:5000
	}

	handle {
		root * public
		try_files {path} {path}/ /index.html
		file_server
	}
}

www.qrcade.xyz {
	redir https://qrcade.xyz{uri} permanent
}